@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Премахва стрелките от number input полета (Chrome, Safari, Edge, Opera) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Премахва стрелките от number input полета (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
